
<a id="show-sidebar" class="btn btn-sm btn-dark">
  <i class="fas fa-bars"></i>
</a>
  <nav id="sidebar" class="sidebar-wrapper">
    <div class="sidebar-content">
      <div class="sidebar-brand">
        <a routerLink="/homes" routerLinkActive="active" >Home</a><br>
      </div>
      <div class="sidebar-menu">
        <ul>
          <li>
            <a href="#">
              <i class="fa fa-comment"></i>
              <span>Talk your bot</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-comments"></i>
              <span>Conversations</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-inbox"></i>
              <span>NLU Inbox</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-lightbulb"></i>
              <span>Insights</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-tachometer-alt"></i>
              <span>Models</span>
            </a>
          </li>
          <li class="sidebar-dropdown">
            <a>
              <i class="fa fa-file"></i>
              <span>Training</span>
            </a>
            <div class="sidebar-submenu">
              <ul>
                <li>
                  <a class="button" routerLink="/nlu" routerLinkActive="active" >NLU data</a>
                </li>
                <li>
                  <a class="button" routerLink="/stories" routerLinkActive="active">Stories</a>
                </li>
                <li>
                  <a class="button" routerLink="/rules" routerLinkActive="active">Rules</a>
                </li>
                <li>
                  <a class="button"  routerLink="/domains" routerLinkActive="active">Domain</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- sidebar-menu  -->
    </div>
  </nav>

